* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, #28282b, #1b1212);
}

/* Nav */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  border-top: 1px double #ffcc00;
  border-bottom: 1px double #ffcc00;
  background-color: rgba(255, 204, 0, 0.2);
}

.nav-link {
  font-size: 1.2rem;
  color: #faf5e9;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  border-bottom: 1px solid #faf5e9;
}

.aws {
  font-size: 1.5rem;
  margin-top: 0.4rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
.aws:hover {
  font-size: 1.6rem;
}
/* HomePage */

.intro {
  display: flex;
  align-items: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.profile-pic {
  border: 2px double #ffcc00;
  border-radius: 50%;
  background-color: #28282b;
  height: 20rem;
  margin: 1rem;
  padding: 0.2rem;
}

/* About */
p {
  color: #faf5e9;
  text-shadow: -1px 1px 0 #ffcc00;
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

/* Skills*/
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 3rem 1rem 1.5rem;
  background-color: #28282b;
  border-radius: 4rem;
  border: 1px solid #1b1212;
}

.skills-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 3rem 2rem 3rem 2rem;
}

.skill-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-list-item:hover {
  animation-name: spin;
  animation-duration: 1s;
}

.skill-list-item img {
  height: 4rem;
  width: 4rem;
}

h2 {
  color: #faf5e9;
  text-shadow: -1px 1px 0 #ffcc00;
  margin-bottom: 1rem;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

/* Projects */

.projects-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: auto;
  margin-top: 1.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  border: 0.01rem solid #ffcc00;
  background-color: #28282b;
  cursor: pointer;
}
.project:hover {
  animation-name: rotate-project;
  animation-duration: 2s;
}

.name {
  color: #faf5e9;
  text-shadow: -1px 1px 0 #ffcc00;
  font-size: 2rem;
  margin-bottom: 0.1rem;
  text-align: center;
}

.desc p {
  font-size: 1rem;
  margin-top: 0.1rem;
  text-align: center;
}

.project-img img {
  height: auto;
  max-width: 100%;
  border-radius: 1rem;
  padding: 0 0.2rem 0 0.2rem;
}

a {
  text-decoration: none;
}

@keyframes rotate-project {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@media only screen and (max-width: 800px) {
  p,
  .name,
  h2 {
    font-size: 1rem;
  }
  .skill-list-item img {
    height: 3rem;
    width: 3rem;
  }
  .projects-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project {
    width: 100vw;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 560px) {
  .intro {
    flex-direction: column;
    margin: 0.5rem;
  }

  .profile-container {
    margin-top: 1rem;
  }

  .profile-pic {
    height: 15rem;
  }

  .skills {
    margin: 1rem 1rem 1rem 1rem;
  }

  .skills-list {
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    margin: 0.5rem 2rem 2rem 0.5rem;
  }

  .skill-list-item img {
    height: 2rem;
    width: 2rem;
  }
}
